/*
 * EC2-only Nextflow config
 * Assumes pipeline is launched on an EC2 instance with Docker installed.
 * AWS Batch is intentionally not configured.
 */

if (!params.containsKey('aws_region')) params.aws_region = 'us-west-2'
if (!params.containsKey('s3_bucket')) params.s3_bucket = 'ucla-humangenetics-raredisease-sequencing-transferdata1-juno'
if (!params.containsKey('work_dir')) params.work_dir = './work'

workDir = params.work_dir

process {
  executor = 'local'
  stageInMode = 'copy'
}

aws {
  region = params.aws_region
  client {
    maxConnections = 50
  }
}

profiles {
  ec2 {
    process.executor = 'local'
    docker.enabled = true
    singularity.enabled = false
    podman.enabled = false
  }

  standard {
    process.executor = 'local'
    docker.enabled = true
    singularity.enabled = false
    podman.enabled = false
  }
}

manifest {
  name = 'kallistogrch38encode44-nextflow'
  version = '1.1.0'
}
